.navbar-custom-color {
  background-color: rgb(31, 14, 36) !important;
  color: rgb(241, 223, 233) !important;
}
.nav-link, .navbar-brand {
  color: rgb(241, 223, 233) !important;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.is-hidden { display: none; }

body {
  background-color: rgb(57, 38, 73) !important;
  color: rgb(235, 194, 217) !important;
}

.btn-primary {
  background-color: rgb(35, 15, 40) !important;
}

.btn-primary:hover {
  background-color: rgb(74, 21, 97) !important;
}

/* .btn-primary:hover {
  background-color: rgb(83, 36, 155) !important;
} */